*{
	font-family: sans-serif;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	box-sizing: border-box;
	background: #BCBCBC;
}

.titulo{
	text-align: center;
	font-family: fantasy;
	padding: 0rem 0 3rem 0;
	font-size: 5rem;
}

.descripcion{
	text-align: center;
	font-family: monospace;
	padding: 0rem 0 3rem 0;
	font-size: 3.3rem;
}

.div-botones{
	background: transparent;
	height: 80%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 20px;
	margin: 20px;
}

.div-botones div{
	display: flex;
	justify-content: center;
}

.div-pantalla{
	background: transparent;
}

.pantalla{
	background: #ffff;
	display: flex;
	justify-content: start;
	align-items: center;
	font-size: 50px;
	margin: 1rem;
	height: 90px;
	padding: 10px;
	border-radius: 4px;
}

.pantalla span{
	line-height: parent;
}

.numero, .signos{
	border: solid 2px;
	width: 10rem;
	height: 100%;
	font-size: 4rem;
	text-align: center;
	align-items: center;
	cursor: pointer;
	background: #137D27;
	border-radius: 4px;
}

.signos {
	background: #471AEF;
	font-weight: bold;
}

#reiniciar{
	font-size: 2rem;
}

.numero:hover {
	background: #0F320D;
	font-weight: bold;
}

.signos:hover{
	background: #0E1541;
	font-weight: bold;
}


.calculadora {
	margin: 0 4rem;
	height: 50rem;
	width: 50rem;
	background: #CE1414;
	border-radius: 20px;
    user-select: none;
    margin-bottom: 5rem;
}

.content-calculator{
	display: flex;
	justify-content: center;
}
